.gallery-container .gallery-top,.gallery {
    /* margin-top: 80px auto; */
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

.gallery-top{
   margin-bottom: 20px;
   margin-top: 8%;
   margin-left: 10%;
   max-width: 80%;
   padding: 5px;
}

.gallery-top p{
   padding: 5px;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  margin-bottom: 50px;
}

.gallery img{
   width: 100%;
  height: auto;
  border-radius: 10px;
}
