.invitation-wrapper{
    display: flex;
    background-color: antiquewhite;
}

.invitation-left{
margin-left: 10%;
padding: 20px;
text-align: center;
margin-top: 80px;
}

.invitation-left p{
 margin-top: 20px;
}

.invitation-right {
    background-color: #fff;
    margin: 50px 0 20px 13%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 128, 0, 0.3); /* soft green shadow */
}

.invitation-right,li{
list-style: circle;
margin-top: 20px;
}

.contact-us-btn{
  background-color: #48bb78;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;

}
.contact-us-btn:hover{
    background-color: #38a169;
}

@media (max-width: 768px) {
    .invitation-wrapper {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .invitation-left, .invitation-right {
        margin: 20px 10px;
        padding: 20px;
        width: 90%;
        text-align: center; /* centers text */

    }

    .invitation-right {
        margin-top: -20px;
        /* text-align: center; */
        width: 60%;
    }

    .invitation-right ul {
        list-style-position: inside; /* move bullets inside text */
        padding-left: 0;             /* remove default left padding */
        display: inline-block;       /* shrink ul width to content */
        text-align: left;            /* keeps bullet and text together */
    }

    .invitation-right li {
        margin-top: 10px;
    }

    /* Center the button */
    .invitation-right .contact-us-btn {
        display: block;
        margin: 20px auto 0 auto; /* top margin 20px, auto horizontal */
    }
}

