.blog-banner{
    padding: 50px;
    margin-top: 5%;
    background-image: url('../../assets/summer-field.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    text-align: center;
    /* color: #fff; */
}

/* .blog-list {
  padding: 20px;
} */

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* exactly 3 columns */
  /* gap: 10px; */
  margin-top: 20px;
  width: 85%;
  margin-left: 8%;
}

.blog-card {
  /* background: #f9f9f9; */
  border-radius: 10px;
  padding: 15px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.blog-card img.blog-thumb {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.blog-card:hover .blog-thumb {
  opacity: 0.8; /* reduces opacity on hover, image looks dimmed */
}
